<head>
    <title>todo</title>
</head>
<body>
 <form action="{% url 'insert_todo_item' %}" method="post" autocomplete="off">
     {% csrf_token %}
     <input type="text"  name="content">
     <button type="submit">insert</button>
 </form>
     {% for todo in todo_list%}

 <span>
     <li>{{todo.content}}</li></span>
     <span> <form action="{% url 'delete_todo_item' todo.id %}" method="post">
          {% csrf_token %}
          <span><button type="submit">remove</button></span>
      </form>
     </span>
     {% endfor %}
</body>